<div class="container">
  <form [formGroup]="registerForm" class="register-container">
    {{ registerForm.value | json }}
    valid: {{ registerForm.valid }}
    <h2>Registration</h2>

    <div class="register-row">
      <mat-form-field appearance="fill" style="color: #2b547e; width: 49.3%">
        <mat-label
          >First Name
          <small>*</small>
        </mat-label>
        <input matInput type="text" formControlName="firstName" />
      </mat-form-field>
      <!-- <mat-form-field appearance="fill" style="color: #2b547e; width: 32%">
        <mat-label>Middle Name</mat-label>
        <input matInput type="text" formControlName="middleName" />
      </mat-form-field> -->
      <mat-form-field appearance="fill" style="color: #2b547e; width: 49.3%">
        <mat-label
          >Last Name
          <small>*</small>
        </mat-label>
        <input matInput type="text" formControlName="lastName" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" style="color: #2b547e; width: 100%">
      <mat-label
        >Email
        <small>*</small>
      </mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>

    <div class="register-row">
      <mat-form-field appearance="fill" style="color: #2b547e; width: 49.3%">
        <mat-label
          >Password
          <small>*</small>
        </mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" style="color: #2b547e; width: 49.3%">
        <mat-label
          >Confirm Password
          <small>*</small>
        </mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          formControlName="passwordConfirm"
        />
      </mat-form-field>
    </div>
    <mat-checkbox (change)="toggleShowPassword()">Show Password</mat-checkbox>
    <mat-form-field appearance="fill" style="color: #2b547e; width: 100%">
      <mat-label
        >Mobile Number
        <small>*</small>
      </mat-label>
      <input
        matInput
        type="text"
        formControlName="mobileNumber"
        (keypress)="numberInputOnly($event)"
      />
    </mat-form-field>
  </form>
  <div class="btn-container">
    <button mat-flat-button class="btn">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      class="btn"
      (click)="register()"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </div>
</div>
